<!-- app/views/admin/dashboard.html.erb -->
<h1>Admin Dashboard</h1>

<p>Total Users: <%= @total_users %></p>
<p>Total Stores: <%= @total_stores %></p>
<p>Total Ratings Submitted: <%= @total_user_ratings %></p>
